body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1215px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u151 {
  position:fixed;
  left:50%;
  margin-left:-640px;
  top:0px;
}
#u151_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background-image:none;
}
#u151_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:54px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:6px;
  width:62px;
  height:54px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:461px;
  top:183px;
}
#u154_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:715px;
  height:779px;
  background-image:none;
}
#u154_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:779px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:15px;
  -moz-box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
}
#u155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:779px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#218EC8;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:40px;
  width:347px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#218EC8;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:111px;
  width:154px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:213px;
  width:49px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u159 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:161px;
  width:300px;
  height:34px;
}
#u159_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:254px;
  width:300px;
  height:34px;
}
#u160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:691px;
  width:140px;
  height:40px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u161_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(33, 142, 200, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u161.mouseDown {
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:323px;
  width:45px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u163 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:364px;
  width:300px;
  height:34px;
}
#u163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:429px;
  width:137px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u165 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:472px;
  width:575px;
  height:170px;
}
#u165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:170px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u166 {
  position:absolute;
  left:461px;
  top:1037px;
}
#u166_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:715px;
  height:879px;
  background-image:none;
}
#u166_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:879px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:15px;
  -moz-box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
}
#u167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:879px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#218EC8;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:40px;
  width:336px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#218EC8;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:214px;
  width:154px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:316px;
  width:49px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u171 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:264px;
  width:300px;
  height:34px;
}
#u171_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:357px;
  width:300px;
  height:34px;
}
#u172_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:794px;
  width:140px;
  height:40px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u173_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(33, 142, 200, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u173.mouseDown {
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:426px;
  width:45px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u175 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:467px;
  width:300px;
  height:34px;
}
#u175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:532px;
  width:137px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u177 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:575px;
  width:575px;
  height:170px;
}
#u177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:170px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:109px;
  width:155px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u179 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:159px;
  width:300px;
  height:34px;
}
#u179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u180 {
  position:absolute;
  left:461px;
  top:2015px;
}
#u180_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:715px;
  height:344px;
  background-image:none;
}
#u180_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:344px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:15px;
  -moz-box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:344px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#218EC8;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:40px;
  width:231px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#218EC8;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:241px;
  width:140px;
  height:40px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u183_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(33, 142, 200, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u183.mouseDown {
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:109px;
  width:155px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u185 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:159px;
  width:300px;
  height:34px;
}
#u185_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1772px;
  height:2px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:-278px;
  top:2509px;
  width:1771px;
  height:1px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
