body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1667px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:218px;
  overflow:hidden;
}
.u316_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:218px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u316_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:218px;
}
.u317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:218px;
}
.u317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:117px;
}
.u318 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:10px;
  width:227px;
  height:117px;
}
.u318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u319 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:137px;
  width:99px;
  height:20px;
}
.u319_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  white-space:nowrap;
}
.u320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u320 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:161px;
  width:44px;
  height:20px;
}
.u320_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u315-1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:280px;
  height:218px;
}
#u315-2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:233px;
  width:280px;
  height:218px;
}
#u315-3 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:451px;
  width:280px;
  height:218px;
}
#u315-4 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:669px;
  width:280px;
  height:218px;
}
#u315-5 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:887px;
  width:280px;
  height:218px;
}
#u315-6 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:15px;
  width:280px;
  height:218px;
}
#u315-7 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:233px;
  width:280px;
  height:218px;
}
#u315-8 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:451px;
  width:280px;
  height:218px;
}
#u315-9 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:669px;
  width:280px;
  height:218px;
}
#u315-10 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:887px;
  width:280px;
  height:218px;
}
#u315-11 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:15px;
  width:280px;
  height:218px;
}
#u315-12 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:233px;
  width:280px;
  height:218px;
}
#u315-13 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:451px;
  width:280px;
  height:218px;
}
#u315-14 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:669px;
  width:280px;
  height:218px;
}
#u315-15 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:887px;
  width:280px;
  height:218px;
}
#u315-16 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:15px;
  width:280px;
  height:218px;
}
#u315-17 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:233px;
  width:280px;
  height:218px;
}
#u315-18 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:451px;
  width:280px;
  height:218px;
}
#u315-19 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:669px;
  width:280px;
  height:218px;
}
#u315-20 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:887px;
  width:280px;
  height:218px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:137px;
  width:1150px;
  height:1120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:96px;
  width:151px;
  height:22px;
}
#u321_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u321_input:disabled {
  color:grayText;
}
.u323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:47px;
}
.u323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:47px;
}
.u323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
.u324 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:12px;
  width:108px;
  height:23px;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
.u324_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u322-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:142px;
  height:35px;
}
#u322-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:142px;
  height:35px;
}
#u322-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:142px;
  height:35px;
}
#u322-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:142px;
  height:35px;
}
#u322-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:295px;
  width:142px;
  height:35px;
}
#u322-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:365px;
  width:142px;
  height:35px;
}
#u322-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:435px;
  width:142px;
  height:35px;
}
#u322-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:505px;
  width:142px;
  height:35px;
}
#u322-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:575px;
  width:142px;
  height:35px;
}
#u322-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:645px;
  width:142px;
  height:35px;
}
#u322-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:715px;
  width:142px;
  height:35px;
}
#u322-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:785px;
  width:142px;
  height:35px;
}
#u322-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:855px;
  width:142px;
  height:35px;
}
#u322-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:925px;
  width:142px;
  height:35px;
}
#u322-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:995px;
  width:142px;
  height:35px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:137px;
  width:142px;
  height:1045px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:83px;
  width:168px;
  height:35px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u325_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:164px;
  word-wrap:break-word;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u326_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:90px;
  height:31px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:1292px;
  width:75px;
  height:5px;
  color:#FFFFFF;
}
#u326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:90px;
  height:31px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:1292px;
  width:75px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:1283px;
  width:12px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#218EC8;
}
#u328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1772px;
  height:2px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:1391px;
  width:1771px;
  height:1px;
}
#u329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330 {
  position:fixed;
  left:50%;
  margin-left:-640px;
  top:0px;
}
#u330_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background-image:none;
}
#u330_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
}
#u331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:54px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:5px;
  width:62px;
  height:54px;
}
#u332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:7px;
  width:50px;
  height:50px;
}
#u333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:21px;
  width:71px;
  height:23px;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u334_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u335 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:17px;
  width:458px;
  height:30px;
}
#u335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:20px;
  width:27px;
  height:24px;
}
#u336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:20px;
  width:400px;
  height:25px;
}
#u337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:11px;
  width:50px;
  height:42px;
}
#u338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:11px;
  width:68px;
  height:23px;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:34px;
  width:154px;
  height:20px;
}
#u340_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  white-space:nowrap;
}
#u341 {
  position:absolute;
  left:670px;
  top:11px;
  visibility:hidden;
}
#u341_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:112px;
  height:42px;
  background-image:none;
}
#u341_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:10px;
  width:60px;
  height:23px;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u344 {
  position:absolute;
  left:1410px;
  top:160px;
}
#u344_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:264px;
  height:209px;
  background-image:none;
}
#u344_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:22px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
#u345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
  text-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:151px;
  height:22px;
}
#u346_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u346_input:disabled {
  color:grayText;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:151px;
  height:22px;
}
#u347_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u347_input:disabled {
  color:grayText;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:151px;
  height:22px;
}
#u348_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u348_input:disabled {
  color:grayText;
}
#u349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:172px;
  width:124px;
  height:37px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
