body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1459px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u435 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:106px;
  width:1281px;
  height:623px;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436 {
  position:fixed;
  left:50%;
  margin-left:-640px;
  top:0px;
}
#u436_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background-image:none;
}
#u436_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:54px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:6px;
  width:62px;
  height:54px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:10px;
  width:50px;
  height:46px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:169px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:333px;
  width:164px;
  height:169px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:454px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:236px;
  width:650px;
  height:454px;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:375px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:276px;
  width:580px;
  height:375px;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:143px;
  width:269px;
  height:28px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
  text-shadow:0px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:0px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:0px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:275px;
  width:334px;
  height:22px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  white-space:nowrap;
  text-shadow:0px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:0px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:0px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
