body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1689px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:47px;
}
.u481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:47px;
}
.u481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
.u482 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:12px;
  width:108px;
  height:23px;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
.u482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u480-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:142px;
  height:35px;
}
#u480-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:142px;
  height:35px;
}
#u480-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:142px;
  height:35px;
}
#u480-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:142px;
  height:35px;
}
#u480-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:295px;
  width:142px;
  height:35px;
}
#u480-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:365px;
  width:142px;
  height:35px;
}
#u480-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:435px;
  width:142px;
  height:35px;
}
#u480-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:505px;
  width:142px;
  height:35px;
}
#u480-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:575px;
  width:142px;
  height:35px;
}
#u480-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:645px;
  width:142px;
  height:35px;
}
#u480-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:715px;
  width:142px;
  height:35px;
}
#u480-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:785px;
  width:142px;
  height:35px;
}
#u480-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:855px;
  width:142px;
  height:35px;
}
#u480-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:925px;
  width:142px;
  height:35px;
}
#u480-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:995px;
  width:142px;
  height:35px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:137px;
  width:142px;
  height:1045px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:262px;
  overflow:hidden;
}
.u484_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:262px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u484_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:262px;
}
.u485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:262px;
}
.u485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:117px;
}
.u486 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:10px;
  width:227px;
  height:117px;
}
.u486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
.u487 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:10px;
  width:188px;
  height:28px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
.u487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
.u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
.u488 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:156px;
  width:83px;
  height:28px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
.u488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
.u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
.u489 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:78px;
  width:112px;
  height:28px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
.u489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
.u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:2px;
}
.u490 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:217px;
  width:1070px;
  height:1px;
}
.u490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:262px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:168px;
  width:1000px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1772px;
  height:2px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:1650px;
  width:1771px;
  height:1px;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492 {
  position:fixed;
  left:50%;
  margin-left:-640px;
  top:0px;
}
#u492_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background-image:none;
}
#u492_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:54px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:5px;
  width:62px;
  height:54px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:7px;
  width:50px;
  height:50px;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:21px;
  width:71px;
  height:23px;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u497 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:17px;
  width:458px;
  height:30px;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:20px;
  width:27px;
  height:24px;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:20px;
  width:400px;
  height:25px;
}
#u499_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:11px;
  width:50px;
  height:42px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:11px;
  width:68px;
  height:23px;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:34px;
  width:154px;
  height:20px;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  white-space:nowrap;
}
#u503 {
  position:absolute;
  left:670px;
  top:11px;
  visibility:hidden;
}
#u503_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:112px;
  height:42px;
  background-image:none;
}
#u503_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:10px;
  width:60px;
  height:23px;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
