body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1689px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:47px;
}
.u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:47px;
}
.u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
.u189 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:12px;
  width:108px;
  height:23px;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
.u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u187-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:142px;
  height:35px;
}
#u187-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:142px;
  height:35px;
}
#u187-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:142px;
  height:35px;
}
#u187-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:142px;
  height:35px;
}
#u187-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:295px;
  width:142px;
  height:35px;
}
#u187-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:365px;
  width:142px;
  height:35px;
}
#u187-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:435px;
  width:142px;
  height:35px;
}
#u187-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:505px;
  width:142px;
  height:35px;
}
#u187-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:575px;
  width:142px;
  height:35px;
}
#u187-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:645px;
  width:142px;
  height:35px;
}
#u187-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:715px;
  width:142px;
  height:35px;
}
#u187-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:785px;
  width:142px;
  height:35px;
}
#u187-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:855px;
  width:142px;
  height:35px;
}
#u187-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:925px;
  width:142px;
  height:35px;
}
#u187-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:995px;
  width:142px;
  height:35px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:137px;
  width:142px;
  height:1045px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:262px;
  overflow:hidden;
}
.u191_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:262px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u191_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:262px;
}
.u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:262px;
}
.u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:117px;
}
.u193 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:10px;
  width:227px;
  height:117px;
}
.u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
.u194 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:10px;
  width:188px;
  height:28px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
.u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
.u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
.u195 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:157px;
  width:83px;
  height:28px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
.u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
.u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
.u196 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:78px;
  width:112px;
  height:28px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#218EC8;
}
.u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
.u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:2px;
}
.u197 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:217px;
  width:1070px;
  height:1px;
}
.u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u198_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
.u198 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:8px;
  width:30px;
  height:30px;
}
.u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:262px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:242px;
  width:1000px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:161px;
  width:140px;
  height:40px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1772px;
  height:2px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:1650px;
  width:1771px;
  height:1px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:fixed;
  left:50%;
  margin-left:-640px;
  top:0px;
}
#u201_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background-image:none;
}
#u201_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:54px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:5px;
  width:62px;
  height:54px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:7px;
  width:50px;
  height:50px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:21px;
  width:71px;
  height:23px;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u206 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:17px;
  width:458px;
  height:30px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:20px;
  width:27px;
  height:24px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:20px;
  width:400px;
  height:25px;
}
#u208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:11px;
  width:50px;
  height:42px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:11px;
  width:68px;
  height:23px;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:34px;
  width:154px;
  height:20px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  white-space:nowrap;
}
#u212 {
  position:absolute;
  left:670px;
  top:11px;
  visibility:hidden;
}
#u212_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:112px;
  height:42px;
  background-image:none;
}
#u212_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:10px;
  width:60px;
  height:23px;
  font-family:'Arial Black', 'Arial Normalny', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u215 {
  position:absolute;
  left:610px;
  top:332px;
  visibility:hidden;
}
#u215_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:395px;
  height:284px;
  background-image:none;
}
#u215_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:284px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:15px;
  -moz-box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
}
#u216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:284px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:86px;
  width:300px;
  height:25px;
}
#u217_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#218EC8;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:31px;
  width:187px;
  height:26px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#218EC8;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  white-space:nowrap;
  text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 0px 1px rgba(0, 0, 0, 0.647058823529412);
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:212px;
  width:156px;
  height:40px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u219_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(33, 142, 200, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#218EC8;
}
#u219.mouseDown {
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:14px;
  width:30px;
  height:30px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:148px;
  width:300px;
  height:25px;
}
#u221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
